@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Poppins:wght@500&display=swap');
*{
  padding: 0px;
  margin: 2px;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
  color: white;
}

.padre{
  display: flex;
  flex-flow: column nowrap;
  }


.header{
  background: url(../img/tablas.jpg);
  background-position: center;
  background-attachment: contain;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column nowrap;
  height: 940px;
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(9,1fr);
  
}
    .menu{
     background: rgba (0,0,0,1);
     display: flex;
     flex-flow: row nowrap;
     height: 60px;
     align-items: center ;
     grid-column: 1/9;
     }
      .logo{
       flex: 1 1 auto;
       display: flex;
       justify-content: center;
       }
         .logo img{
           width: 50px;
           height: 50px ;
           opacity: 50%;
           }
           
      .navbar{
         display: flex; 
         flex: 1 1 auto;
         justify-content: center;
         justify-content: space-around;
         }
         .navbar a{
           font-size: 10px;
           padding: 0 10px;
           letter-spacing: 2px;
           }
           .navbar a:hover{
            border-bottom: 1px solid white;
            border-radius: 2px;
           }
      .redessociales{
        flex: 1 1 auto;
        display: flex;
        justify-content: flex-end;
        } 
         .redessociales a{
           font-size: 18px;
           padding: 0 1px;
          } 
            .redessociales a:hover{
              color: white;
              border-bottom: 1px solid white;
              border-radius: 2px
            }
           
    .footerprincipal{
      grid-column: 4/6;
      grid-row: 10;
      }   
        .footer{
          text-align: center;
          font-size: 10px;
          font-family: 'Cormorant', serif;
          list-style: none;
          color: rgb(255, 255, 255)  ;
        }
        .pie li{
          width: 300px;
          color: white;
          padding: 10px;
          }
           .piedos li{
          width: 300px;
          color: white;
          padding: 10px;
          }
         /*termina el index*/

.headersobremi{
  background: url(../img/cerro\ campanario.jpg);
  background-position: center;
  background-attachment: contain;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  height: 940px;
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(9,1fr);
  position: fixed;
  top: 0;
}
      .menusobremi{
        background: rgba (0,0,0,1);
        display: flex;
        flex-flow: row nowrap;
        height: 60px;
        align-items: center ;
        grid-column: 1/9;
      }
      
    .navbarsobremi{
      display: flex; 
      flex: 1 1 auto;
      justify-content: center;
      justify-content: space-around;
    }
      .navbarsobremi a{
        font-size: 10px;
        padding: 0 10px;
        letter-spacing: 2px;
        color: rgb(0, 0, 0);
      }
        .navbarsobremi a:hover{
         border-bottom: 1px solid white;
         border-radius: 2px;
        }
         
          .redessocialessobremi{
            flex: 1 1 auto;
            display: flex;
            justify-content: flex-end;
          } 
          .redessocialessobremi a{
            font-size: 18px;
            padding: 0 1px;
            color: rgb(0, 0, 0);
            }
              .redessocialessobremi a:hover{
                color: white;
                border-bottom: 1px solid white;
                border-radius: 2px
              }

  .parrafo{
    display: grid;
    width: 800px;
    height: 500px;
    grid-column: 4/5;
    grid-row: 4;
    overflow: auto;
    border-radius: 3px;
    align-items: center;
    }
    .parrafo p{
      font-family: 'Cormorant', serif;
      font-weight: bolder;
    }
    .parrafo::-webkit-scrollbar{
      background-color: rgba(43, 42, 42, 0.315);
      width: 3px;
      border-radius: 2px;
      opacity: 50%;
    }
    .parrafo h1{
      font-family: 'Cormorant', serif;
    }
    /*termina sobre mi */

    
    .headercontacto{
      background: url(../img/iguana.jpg);
      background-position: center;
      background-attachment: contain;
      background-size: cover;
      display: flex;
      flex-flow: column nowrap;
      height: 940px;
      display: grid;
      grid-template-columns: repeat(8,1fr);
      grid-template-rows: repeat(9,1fr);
      
    }
       
     
      .menucontacto{
        background: rgba (0,0,0,1);
        display: flex;
        flex-flow: row nowrap;
        height: 60px;
        align-items: center ;
        grid-column: 1/9;
      }
          
        .navbarcontacto{
          display: flex; 
          flex: 1 1 auto;
          justify-content: center;
          justify-content: space-around;
        }
          .navbarcontacto a{
            font-size: 10px;
            padding: 0 10px;
            letter-spacing: 2px;
            color: rgb(0, 0, 0);
          }
            .navbarcontacto a:hover{
             border-bottom: 1px solid white;
             border-radius: 2px;
            }
             
              .redessocialescontacto{
                 flex: 1 1 auto;
                 display: flex;
                 justify-content: flex-end;
              } 
               .redessocialescontacto a{
                 font-size: 18px;
                 padding: 0 1px;
                 color: rgb(0, 0, 0);
                }
                  .redessocialescontacto a:hover{
                    color: white;
                    border-bottom: 1px solid white;
                    border-radius: 2px
                  }
                  .footerprincipalcontacto{
                    grid-column: 4/6;
                    grid-row: 10;
                  }   
                      .footercontacto{
                        text-align: center;
                        font-size: 10px;
                        font-family: 'Cormorant', serif;
                        list-style: none;
                        color: rgb(255, 255, 255)  ;
                      }
                    
                      .pie li{
                        width: 300px;
                        color: white;
                        padding: 10px;
                      }
                      .piedos li{
                        width: 300px;
                        color: white;
                        padding: 10px;
                      }
    .form{
      background: linear-gradient(70deg, rgb(58, 122, 72), white);
      opacity: 80%;
    }
    
        .formulario{
          display: grid;
          grid-column: 2/5;
          grid-row: 3/6;
          width: 600px;
          height: 150px;
        }
         .formulario h2{
           text-align: center;
          }                                    
         .formulariocontacto{
           text-align: center;
          }
      /*termina contacto*/
      .headergaleria{
        background-color: white;
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
        height: 940px;
        display: grid;
        grid-template-columns: repeat(8,1fr);
        grid-template-rows: repeat(9,1fr);
      }
         .menugaleria{
          display: flex;
          flex-flow: row nowrap;
          height: 60px;
          align-items: center ;
          grid-column: 1/9;
          
        }
            
          .navbargaleria{
            display: flex; 
            flex: 1 1 auto;
            justify-content: center;
            justify-content: space-around;
          }
             .navbargaleria a{
              font-size: 10px;
              padding: 0 10px;
              letter-spacing: 2px;
              color: rgb(0, 0, 0);
            }
              .navbargaleria a:hover{
               border-bottom: 1px solid rgb(0, 0, 0);
               border-radius: 2px;
              }
               
                .redessocialesgaleria{
                   flex: 1 1 auto;
                   display: flex;
                   justify-content: flex-end;
                } 
                 .redessocialesgaleria a{
                   font-size: 18px;
                   padding: 0 1px;
                   color: rgb(0, 0, 0);
                  }
                    .redessocialesgaleria a:hover{
                      color: rgb(187, 116, 116);
                      border-bottom: 1px solid rgb(179, 141, 141);
                      border-radius: 2px
                    }
                    
      .padregaleria{
        margin: auto;
        width: 865px;
        padding: 30px;
        display: grid;
        grid-column: 4/5;
        grid-row: 5/6;
      }
        ul, li{
          padding: 0;
          margin: 0; 
          list-style: none;
        }
        ul.slider{
          position: relative;
          width: 800px;
          height: 300px;
        }
        ul.slider li{
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          width: inherit;
          height: inherit;
          transition: opacity .5s;
          background-color: rgb(0, 0, 0);
        }
          ul.slider li img{
            width: 100%;
            height: 300px;
            object-fit: cover;
          }
            ul.slider li:first-child{
              opacity: 1;
            }
              ul.slider li:target{
                opacity: 1;
              }
      
      .menuslider{
        text-align: center;
        margin: 20px;
      }
      .menuslider li{
        display: inline-block;
        text-align: center;
      }
      .menuslider li a{
        display: inline-block;
        text-decoration: none;
        padding: 10px;
        width: 20px;
        height: 20px;
        font-size: 20px;
        color: black;
      }
/*termina galeria*/

.headercomunidad{
  background: url(../img/galeria/colgada4.jpg);
  background-position: center;
  background-attachment: contain;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  height: 940px;
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(9,1fr);
  
}
    .menucomunidad{
     background: rgba (0,0,0,1);
     display: flex;
     flex-flow: row nowrap;
     height: 60px;
     align-items: center ;
     grid-column: 1/9;
    }
      .logo{
       flex: 1 1 auto;
       display: flex;
       justify-content: center;
      }
         .logo img{
           width: 50px;
           height: 50px ;
           opacity: 50%;
          }
           
      .navbarcomunidad{
         display: flex; 
         flex: 1 1 auto;
         justify-content: center;
         justify-content: space-around;
      }
         .navbarcomunidad a{
           font-size: 10px;
           padding: 0 10px;
           letter-spacing: 2px;
          }
           .navbarcomunidad a:hover{
            border-bottom: 1px solid white;
            border-radius: 2px;
          }
      .redessocialescomunidad{
        flex: 1 1 auto;
        display: flex;
        justify-content: flex-end;
      } 
         .redessocialescomunidad a{
           font-size: 18px;
           padding: 0 1px;
          }
            .redessocialescomunidad a:hover{
              color: white;
              border-bottom: 1px solid white;
              border-radius: 2px
            }
           
    .footerprincipalcomunidad{
      grid-column: 4/6;
      grid-row: 10;
      }   
        .footercomunidad{
          text-align: center;
          font-size: 10px;
          font-family: 'Cormorant', serif;
          list-style: none;
          color: rgb(255, 255, 255)  ;
        }
      
        .pie li{
          width: 300px;
          color: white;
          padding: 10px;
        }
        .piedos li{
          width: 300px;
          color: white;
          padding: 10px;
        }
  .redescomunidad{
    display: flex;
  }
      .comunidad{
         display: grid;
         grid-column: 4/8;
         grid-row: 4/6;
      }
        .redescomunidad img{
           width: 100%;
            height: 200px;
          }
  /*termina comunidad*/

  @media all and (max-width: 800px){
  .menu{
    flex-direction: column;
    height: auto;
  }
    }
  
    @media all and (max-width: 800px){
      .header{
        background: url(../img/tablas.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
        }
    }
    /*termina media query del index*/

    @media only screen and (max-width: 800px){
      .menusobremi{
        flex-direction: column;
        height: auto;
      }
    }
    
    
    @media only screen and (max-width: 800px){
      .headersobremi{
        background: url(../img/cerro\ campanario.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
        }
    }
    @media only screen and (max-width: 800px) {
      .parrafo{
      width: 500px;
      height: 500px;
    
    }
    @media only screen and (max-width: 500px) {
      .parrafo{
      width: 300px;
      height: 400px;
      }
    }

    /*termina media query del sobre mi*/

    @media only screen and (max-width: 800px){
      .menucontacto{
        flex-direction: column;
        height: auto;
      }
    }
   @media only screen and (max-width: 400px){
   .menucontacto{
      flex-direction: column;
      height: auto;
      width: 400px;
   }
  }
  @media only screen and (max-width: 400px){
    .formulario{
       flex-direction: column;
       height: 150px;
       width: 305px;
    }
   }
   @media only screen and (max-width: 400px){
     .padre{
       width: 430px;
     }
   }
   @media only screen and (max-width: 400px){
    .footerprincipalcontacto{
      display: none;
    }
  }
  @media only screen and (max-width: 800px){
    .footerprincipalcontacto{
      display: none;
    }
  }
   /*termina media query del contacto */

  @media only screen and (max-width: 800px){
      .menucomunidad{
        flex-direction: column;
        height: auto;
      }
    } 
    @media only screen and (max-width: 800px){
      .redescomunidad{
        flex-direction: column;
        height: auto;
        width: 200px;
      }
    }
    @media only screen and (max-width: 400px){
      .footerprincipalcomunidad{
        width: 220px;
      }
    }
/*termina media query de comunidad */
@media only screen and (max-width: 800px){
  .menugaleria{
    flex-direction: column;
    height: auto;
  }
}


/*termina media query galeria*/



          
      
        

    

  

  
  
  
  

      
     
        
      
      
        
      
      
        
      
     
      
        
      
      